#proj-main {
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100vw;
    overflow-y: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2% 5% 5% 5%;

    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y proximity; */

    width: auto;
    height: 100vh;
    text-align: center;
    --lightcolor: #ffdef2;
    --darkcolor: #fff8fc;
    position: relative;
    background-color: #ffe3be;

    position: relative;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#banner-container {
    background-color: color-mix(in srgb, var(--boss-blind-color), rgb(53, 53, 53) 20%);
    color: #fff;
    width: 750px;
}


#projects-container {
    width: min-content;
    /* height: 100vh; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}



.projectBox {
    /* position: absolute; */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: var(--lightcolor);
    /* margin: 10px; */
    border: 2px solid black;
    border-radius: 5px;
    /* border-radius: 15px; */

    align-items: center;
    justify-content: center;
    /* display: grid; */
    /* grid-template-rows: 50% 1fr; */
}

#projects-grid {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    /* width: 80vw; */
    max-width: 990px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

.project-banner {
    background-color: #621099;
    color: #fff;
    font-size: xx-large;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

.project-row {
    display: grid;
    background-color: #ff1af4;
}

.grid-cell {
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}