.container{
    margin: 10px;
    padding: 10px;
    align-self:center;
    align-items: center;
    position:relative;

    width: 94px;
    height: 114px;
    background-color: rgb(255, 238, 206);
    border: 6px;
    border-style: double;
    border-color: rgb(63, 99, 69);
    border-radius: 8px;

    transition: width 0.3s, height 0.3s, box-shadow 0.2s;
    color: black;
}


.container:hover{
    background-color: rgb(236, 221, 191);
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}
.container.grown{
    position: absolute; 
    margin-inline: auto; 
    width: fit-content;
    
    
    width: 80vw;
    height: 80vh;

    overflow: auto;
    z-index: 10;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2); /* Optional: add shadow */
    transition: width 0.2s, height 0.2s, box-shadow 0.2s;

}