

.left-panel {
  align-self: center;
  padding: 15px;
  width: 250px;
  /* height: calc(900px - padding); */
  background-color: color-mix(in srgb,var(--left-panel-bkg-color) , var(--boss-blind-color) 20%);
  /* border-right: 3px solid #676767; */

  display: grid;
  grid-template-rows: [blind] 150px [score] 75px [hand1] 150px [bottom] 250px;
  /* grid-template-rows: [blind] 1fr [score] 50px [hand1] 1fr [bottom] 1fr ; */
  align-items: stretch;
}

.panel-box{
  border-radius: 4px;
  margin:1px;
  background-color: color-mix(in srgb, #242424 , var(--boss-blind-color) 20%);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: 3px solid #676767; */
}

.panel-value {
  /* max-height: 35px; */
  font-size:xx-large;
  display: inline;
  background-color: color-mix(in srgb, #474747 , var(--boss-blind-color) 20%);
  border-radius: 4px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
  margin: 4px 4px 4px 4px;
}

.panel-text {
  font-size: x-large;
  max-height: 1em;
  display:flex;
  justify-content: center;
  align-items: center;
  /* margin: 4px 4px 4px 4px; */

}

.panel-button {
  width: 75px;
  height: 100px;
}

#blind-header {
  font-size:x-large;
  margin: 2px 4px 2px 4px;
  border-radius: 4px;
  background-color: var(--boss-blind-color);
}
#blind-body {
  font-size:x-large;
  margin: 2px 4px 4px 4px;
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--boss-blind-color), black 20%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
  flex-grow: 1;
}

#token-container{
  position: relative;
  display: flex;
  flex-grow: 1;
}

#score-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 3px 0px 3px 0px;
}

#score-text {
  align-self: center;
  font-size:x-large;
}

#hand-box {
  margin: 3px 0px 3px 0px;
}
#buttons-n-numbers-grid{
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 2fr;
  padding: 2px;

}
#panel-button-container{
  display: grid;
  justify-items: center;
  align-items: center;
}
#numbers-container {
  display: grid;
  padding: 2px;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
}

.duo-val-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}