#root {
  display: grid;
  grid-template-columns: [left] 300px [center] 600px [right] 300px;
  text-align: center;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1);
}

#leftcol {
  display: flex;
  align-content: center;
  justify-content: center;

  height:100vh;
  background-color: color-mix(in srgb,var(--left-panel-bkg-color) , var(--boss-blind-color) 20%);
  border-right: 3px solid #676767;
  border-left: 3px solid #676767;
  
}

#centercol {
  height:100vh;
  align-content: center;
  justify-content: center;
}

.CardBounds {
  align-self: center;
  position:relative;
  /* background-color:#f82f2f31; */
  width:900px; height: 650px;;
}

