#root {
  display: grid;
  grid-template-columns: [left] 300px [center] 1fr;
  text-align: center;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1);
  flex-grow: 1;
  width:100%; height:100%;
}

#leftcol {
  margin-left: 4%;
  display: flex;
  align-content: center;
  justify-content: center;

  height:100vh;
  background-color: color-mix(in srgb,var(--left-panel-bkg-color) , var(--boss-blind-color) 20%);
  border-right: 3px solid #676767;
  border-left: 3px solid #676767;
  
}

#centercol {
  background-color:#f8c32f31;
  height:100vh;
  /* align-content: center; */
  /* justify-content: center; */
  display:grid;
  grid-template-rows: [cardbounds] 200px [displayspace] 1fr;
  overflow:auto
  /* width:900px;  */

}

.CardBounds {
  align-self: center;
  position:relative;
  background-color:#f82f2f31;
  height: 100%;
  border-bottom: #676767;
  border-bottom-style: solid;
}

#content-display{
  z-index: 11;
}