@font-face {
  font-family: m6x11;
  src:url('/fonts/m6x11plus.ttf');
}

:root {
  font-family: m6x11, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --boss-blind-color: #33473a;

  --left-panel-bkg-color: #474747;

}

.blind-header {
  font-size:x-large;
  margin: 2px 4px 2px 4px;
  border-radius: 4px;
  background-color: var(--boss-blind-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: color-mix(in srgb, #380a53 , var(--boss-blind-color) 30%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: color-mix(in srgb, #5d108a , var(--boss-blind-color) 30%);
  border-color: #646cff;
  scale: 1.1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}