#main {
    /* background-color: #ffffff; */

    color: #000000;
    text-align: center;
    text-shadow: rgb(190, 190, 190) 0.1em 0.1em;
    flex-grow: 1;
    margin: 2% 5% 0 5%;
}

.about-img {
    border-radius: 4px;
    margin: 4px;
}

#aboutme-header {
    /* inherits from global css as well*/
    font-size: x-large;
    margin: 2px 4px 2px 4px;
    background-color: var(--boss-blind-color);
    border-radius: 7px;
    margin: 2% 30% 2% 30%;
    font-size: xx-large;

}

.aboutme-content-grid {
    border-radius: 4px;
    display: grid;
    background-color: color-mix(in srgb, #dbdbdb, var(--boss-blind-color) 20%);
    align-self: center;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.aboutme-content-flex {
    border-radius: 4px;
    background-color: color-mix(in srgb, #9c9c9c, var(--boss-blind-color) 20%);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-items: center;
    /* border: 3px solid #676767; */
}

.content {
    /* margin:5px */
}