#main {
    /* background-color: #ffffff; */
    min-width: min-content;
    color: #000000;
    text-align: center;
    /* text-shadow: rgb(190, 190, 190) 0.1em 0.1em; */
    flex-grow: 1;
    font-size: x-large;
    margin: 2% 5% 0 5%;
}

.about-img {
    width: 90%;
    max-height: 90%;
    object-fit: cover;

    box-shadow: 10px 5px 5px rgb(107, 107, 107);

    border-radius: 4px;
    margin: 4px;
}

#aboutme-header {
    position: relative;
    background-color: var(--boss-blind-color);
    /* border-radius: 7px; */
    margin: 2% 30% 2% 30%;
    font-size: xx-large;
    color: #ffffff;
}

#profile-desc-content {
    position: relative;
    min-height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    background-color: #fbf1e1;
    box-shadow: #000000d0 2px 2px 7px;

}

#profile-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img-cardbox {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #e0e0d2;
    /* border: dashed #4d4d4d 2px; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-header {
    background-color: transparent;
    margin: 2% 30% 2% 30%;
    font-size: xx-large;
    border-top: 5px solid black;
    color: #ffffff;
    /* Change this value to adjust the stamp perforation size: */
    --radius: 8px;
    background-image:
        radial-gradient(var(--radius),
            transparent 98%,
            var(--boss-blind-color)),
        linear-gradient(var(--boss-blind-color) 0 0);
    background-repeat:
        round,
        no-repeat;
    background-position:
        calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
        50%;
    background-size:
        calc(var(--radius) * 3) calc(var(--radius) * 3),
        calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);

}

.squiggle-border {
    width: 12rem;
    aspect-ratio: 1;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: url(#noise);
}

#profile-plaque {
    margin: 3%;
    max-width: 300px;
    position: relative;
    background-color: #a1e1ff;
    border-radius: 7px;
    padding: 1%
}

.padded-chad-box {
    width: 90%;
    height: auto;
    min-height: 90%;
    border-radius: 7px;
    border-color: #686868;
    border-style: solid;
    padding: 2%;
    background-color: #ecfeff;
    box-shadow: rgba(0, 0, 0, 0.815) 6px 6px 7px;
    font-size: large;
}
.chad {
    width: auto;
    margin:5px;
    border-radius: 7px;
    border-color: #686868;
    border-style: dashed;
    border-width: 2px;
    padding: 2%;
    background-color: #f6ffff;
    /* box-shadow: rgba(0, 0, 0, 0.815) 6px 6px 7px; */
    font-size: large;
}

.profile-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.stickyWrap {
    position: absolute;

}

.profile-grid {
    position: relative;
    border-radius: 4px;
    border: dotted #000000 3px;
    min-height: 400px;
    min-width: 600px;
    display: grid;
    padding: 2% 5% 2% 5%;
    background-color: color-mix(in srgb, #dbdbdb, var(--boss-blind-color) 20%);
    align-self: center;

    justify-content: center;
    align-items: center;
    justify-items: center;

    /* font-size: large; */
}

.tri-grid {
    border-radius: 4px;
    border: dotted #000000 3px;
    min-height: 400px;
    min-width: 600px;

    display: grid;
    padding: 2% 5% 2% 5%;
    background-color: color-mix(in srgb, #dbdbdb, var(--boss-blind-color) 20%);
    align-self: center;
    
    /* justify-content: center; */

    /* font-size: large; */
}

/* For devices with a max width of n px */
@media screen and (max-width: 1200px) {
    .profile-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "img"
            /* Image on top */
            "desc";
        /* Text on bottom */
    }

    .tri-grid {
        grid-template-rows: 1fr 1fr 1fr;
    }
}

/* For devices with a min width of n px */
@media screen and (min-width: 1200px) {
    .profile-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "desc img"
            "desc img";
    }

    .tri-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.aboutme-content-flex {
    border-radius: 4px;
    background-color: color-mix(in srgb, #9c9c9c, var(--boss-blind-color) 20%);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-items: center;
    /* border: 3px solid #676767; */
}

.content {
    margin: 5px
}