#proj-main {
    overflow: scroll;
    padding: 2% 5% 5% 5%;

    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y proximity; */

    width: auto;
    height: 100vh;
    text-align: center;
    --lightcolor: #ffdef2;
    --darkcolor: #fff8fc;
    position: relative;
    background-color: #460606;
}

.project-box {
    /* position: absolute; */
    width:auto;
    height: 600px;

    background-color: var(--lightcolor);
    /* margin: 10px; */
    border: 2px solid black;
    /* border-radius: 15px; */

    align-items: center;
    justify-content: center;
    /* display: grid; */
    /* grid-template-rows: 50% 1fr; */
}

#projects-grid {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    /* width: 80vw; */
    max-width: 990px;
    /* grid-template-columns:1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

.project-row {
    display:grid;
    background-color: #ff1af4;
}