
#proj-main{
    /* display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; */

    overflow:scroll;
    height:100%;
}

.projectBox{
    width :auto;
    height: 300px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 15px ;
    align-items: center;
    text-align: center;
}