.hoverInfo {
    margin-right: 4%;
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0;
    background-color: #7e7e7eff;
    color: #ffffff;
    border-radius: 6px;
    position: absolute;
    font-size: small;
    text-align: center;
    width: 60px;
    height: auto;
    min-height: 3em;
    pointer-events: none;
}